/*Definition des couleurs*/
:root
{
  --Couleur1: #494D4D;/*couleur de fond*/
  --Couleur2: #f6a796;/*couleur boutons hover*/
  --Couleur3: #202424;/*couleur nav / footer */
  --Couleur4: #242828;/*couleur widget/bouton:hover*/
}
/*Pour la page admin*/

.boutonAdmin
{
  background-color: var(--Couleur3);
  border: 1px solid;
  color:var(--Couleur2);
  border-radius: 5px;
  height:3em;
  width: 30%;
  transition: 0.5s;
}
.boutonAdmin:hover
{
  text-decoration: bold;
  background-color:var(--Couleur2);
  color:var(--Couleur3);
  transition: 0.5s;
}

.inputAdmin
{
  background-color: var(--Couleur3);
  
  border: none;
  color:var(--Couleur2);
  height:3em;
  width: 80%;
  transition: 0.5s;
}
.inputAdmin:hover
{
  text-decoration: bold;
  background-color:var(--Couleur4);
  transition: 0.5s;
}

.inputAdmin2
{
  background-color: var(--Couleur3);
  border: none;
  color:var(--Couleur2);
  height:10em;
  width: 80%;
  transition: 0.5s;
}
.inputAdmin2:hover
{
  text-decoration: bold;
  background-color:var(--Couleur4);
  transition: 0.5s;
}

.Formulaire
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.typeDevoir
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 8px;
  width:80%;
}

.champAjout
{
  width:100%;
  margin-top: 8px;
}

.couleurTitre
{
  color: var(--Couleur2);
}

/*Pour la nav*/

.bouton
{
  background-color: var(--Couleur3);
  border: none;
  color:var(--Couleur2);
  height:5vh;
  transition: 0.5s;
}
.bouton:hover
{
  text-decoration: bold;
  border-radius: 5px;
  background-color:var(--Couleur2);
  color:var(--Couleur3);
  transition: 0.5s;
}

.element
{
  margin-top:auto;
  margin-bottom:auto;
  width: auto;
}
.element:hover
{
  cursor: pointer;
}

.nav
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height:5vh;
  background-color:var(--Couleur3);
  color: var(--Couleur2);
}

/*General*/

.divWidget
{
  display: flex;
  justify-content: center;
}

.btnRech
{
  height:3em;
  width: 8em;
  background-color: var(--Couleur3);
  border:1px solid;
  border-color:var(--Couleur2); ;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  padding-left: 5px;
  padding-right: 5px;
  color:var(--Couleur2);
  transition: 0.5s;
}
.btnRech:hover
{
  background-color:var(--Couleur2);
  transition: 0.5s;
  color:var(--Couleur4);
}

.btnRefresh
{
  background-color: var(--Couleur3);
  border-radius:5px;
  padding-left: 5px;
  padding-right: 5px;
  border:1px solid;
  color:var(--Couleur2);
  transition: 0.5s;
}
.btnRefresh:hover
{
  background-color:var(--Couleur2);
  transition: 0.5s;
  color:var(--Couleur4);
}

.bordureD
{
  border-right: 1px solid;
  border-color: var(--Couleur2);
}

.barreRech2
{
  width: 5em;
  height:3em;
  background-color: var(--Couleur3);
  border: 1px solid;
  border-radius:5px;
  padding-left: 5px;
  padding-right: 5px;
  color:var(--Couleur2);
  transition: 0.5s;
  margin-right: 5px;
  margin-bottom: 2px;
}
.barreRech2:hover
{
  background-color:var(--Couleur2);
  transition: 0.5s;
  color:var(--Couleur4);
}

.btnRech2
{
  width: 6em;
  height:3em;
  background-color: var(--Couleur3);
  border: 1px solid;
  border-radius:5px;
  padding-left: 5px;
  padding-right: 5px;
  color:var(--Couleur2);
  transition: 0.5s;
}
.btnRech2:hover
{
  background-color:var(--Couleur2);
  transition: 0.5s;
  color:var(--Couleur4);
}

hr
{
  background-color: var(--Couleur2);
}

/*Pour le widget1 */

.subDiv50
{
  border-color: var(--Couleur2);
  width: 50%;
  padding-left: 15px;
  padding : 5px;
}

/*Pour le widget2 */

.morceau
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1px;
  padding-right: 1px;
}
.morceau:hover
{
  border: 1px solid;
  border-color: var(--Couleur2)
}

.informationMorceau
{
  font-size: 1em;
}

.infoUser
{
  display: flex;
  justify-content: space-around;
}

.photoProfil
{
  width: 80%;
}

.detailProfil
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Pour le widget3 */

/*Pour le widget4 */

/*Pour le widget5 */

/*Pour le widget6 */

.wrap
{
  flex-wrap: wrap;
}

.imgRecette
{
  height: auto;
  width: 80%;
}

.conteneur2
{
  display: flex;
  margin-top:auto;
  margin-bottom:auto;
}

.App
{
  min-height: 100%;
}

.subDiv
{
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding : 5px;
}

.subDiv70
{
  border-left: 1px solid;
  border-color: var(--Couleur2);
  width: 70%;
  padding : 5px;
}

.bordureDG
{
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: var(--Couleur2);
}

@media(min-aspect-ratio: 4/3)
{
  .Widget
  {
    background-color:var(--Couleur4);
    color:var(--Couleur2);
    width: 40%;
    height:auto;
    padding:5px;
    margin-bottom: auto;
    margin-top : 15px;
    font-size: 1em;
  }

  /*Pour le footer*/

  .footer
  {
    width: 100%;
    background-color: var(--Couleur3);
    color: var(--Couleur2);
    font-size: .8em;
    height:5em;
    position: absolute;
    bottom: 0;
  }
  /* Pour le Dashboard*/

  .center
  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 89vh;
    overflow: auto;
    background-color: var(--Couleur1);
  }
  .barreRech
  {
    width: 15em;
    height:3em;
    background-color: var(--Couleur3);
    border: 1px solid;
    border-right:none;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    padding-left: 5px;
    padding-right: 5px;
    color:var(--Couleur2);
    transition: 0.5s;
    margin-left: 5px;
  }
  .barreRech:hover
  {
    background-color:var(--Couleur2);
    transition: 0.5s;
    color:var(--Couleur4);
  }
  .pageAjout
  {
    width:40%;
  }
}

@media(max-aspect-ratio: 4/3) and (min-aspect-ratio: 2/3)
{
  .Widget
  {
    background-color:var(--Couleur4);
    color:var(--Couleur2);
    width: 60%;
    height:auto;
    padding:5px;
    margin-bottom: auto;
    margin-top : 15px;
    border-radius: 15px;
    font-size: 1em;
  }
   /* Pour le Dashboard*/

   .center
   {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     height: 95vh;
     overflow: auto;
     padding-bottom: 2em;
     background-color: var(--Couleur1);
   }


  .barreRech
  {
    width: 12em;
    height:3em;
    background-color: var(--Couleur3);
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid;
    border-right:none;
    color:var(--Couleur2);
    transition: 0.5s;
    margin-left: 5px;
  }
  .barreRech:hover
  {
    background-color:var(--Couleur2);
    transition: 0.5s;
  }
  .pageAjout
  {
    width:70%;
  }
}

@media(max-aspect-ratio: 2/3)
{
  .Widget
  {
    background-color:var(--Couleur4);
    color:var(--Couleur2);
    width: 90%;
    height:auto;
    padding:5px;
    margin-bottom: auto;
    margin-top : 15px;
    border-radius: 15px;
    font-size: 1em;
  }

   /* Pour le Dashboard*/

   .center
   {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     height: 95vh;
     overflow: auto;
     padding-bottom: 2em;
     background-color: var(--Couleur1);
   }
   
  .barreRech
  {
    width: 7em;
    height:3em;
    background-color: var(--Couleur3);
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid;
    border-right:none;
    color:var(--Couleur2);
    transition: 0.5s;
    margin-left: 5px;
  }
  .barreRech:hover
  {
    background-color:var(--Couleur2);
    transition: 0.5s;
  }

  .pageAjout
  {
    width:100%;
  }
}
